* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* content-box */
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f7fa;
  padding: 40px 20px;
}

.main-container {
  background: white;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.myphoto {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

/* Блок Контента */
.profession {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  margin-bottom: 25px;
}

.name {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.profession-title {
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.orange {
  color: #ff6b08;
  letter-spacing: 0.48px;
}

.profession-devider {
  color: black;
}

.sub-title {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
}

.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.projects-tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.dots {
  color: #bebebe;
  font-weight: 100;
}

.projects-item {
  color: black;
  margin-left: 20px;
}

.projects-container {
  margin-bottom: 55px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}

.contact-link {
  color: #737982;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}

.contacts-span {
  color: white;
  font-weight: 700;
  letter-spacing: 0.42px;
  font-size: 14px;
  margin-right: 10px;
}

.tech-skills-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}

.tech-skills-item {
  /*  */
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 15px;
}

.tech-skills-text {
  color: #b8bbc0;
}

.soft-skills-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.soft-skills-text {
  color: #b8bbc0;
}

.soft-skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 15px;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}
